

<!-- Flag for jQuery -->
<span id="homepage" style="display: none"></span>

{{ if .IsHome }}
  {{ .Scratch.Set "section" "home" }}
{{ else }}
  {{ .Scratch.Set "section" .Section }}
{{ end }}
{{ $section := .Scratch.Get "section" }}

<!-- Widgets -->
{{ range $index, $page := where (where .Data.Pages "Section" $section) ".Params.active" "!=" false }}
  {{ $params := dict "root" $ "page" $page }}
  {{ $widget := printf "widgets/%s.html" ( or $page.Params.widget "custom" ) }}
  {{ if in (slice "hero" "hero_carousel") $page.Params.widget }}
    {{ partial $widget $params }}
  {{ else }}
  <section id="{{ $page.File.TranslationBaseName }}" class="home-section">
    <div class="container">
      {{ partial $widget $params }}
    </div>
  </section>
  {{ end }}
{{ end }}
